<div #whyus class="page-view texture-background">
    <div class="container-fluid">

        <div class="row py-3 flex items-center" style="text-align: center;" >
            <div class="col-4">
                <!-- <img style="width: 40%;height: auto;" src="/assets/images/qorier_updated_logo_white.png" alt="image"> -->
            </div>
            <div class="col-sm-4">
                <!-- <img style="width: 5%; " src="/assets/images/image.png" alt="image"> -->
                <h1 class=""> © 2021 - All Rights Reserved. </h1>
            </div>
            <div class="col-4">
            </div>
        </div>

    </div>