<div #whyus class="page-view texture-background">
    <div class="container-fluid">

       
       
        <div class="row " >
            <div class="col-7">
                <h1 class="">CLOUD-BASED DASHBOARD
                    </h1>
                    <h3 style="  text-align: left; ">Qorier Fulfillment’s proprietary cloud-based system (RSF OPS) puts the control in your hands. You get real-time, mobile-friendly monitoring and reporting for all aspects of your fulfillment operations. You never have to wonder if your inventory data is up to date or your orders shipped on time. No matter where you are or what device you are using, you can always access your information.</h3>
                <div class="col-12" style=" font-size: 1em; font-family:  raleway!important; align-content: left; padding-left: 6%; margin-top: 1%;">
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Real time Stock visibility & Reports.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Minimum Viable Stock report.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Real time Alert for high selling low stock.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Stock value monthly report.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Deadlock & Access stock report monthly.</p>

                </div>
            </div>
            <div class="col-4">
                <img class="delivery"  alt="delivery" src="/assets/images/cloud.png" title="fulfillment Dubai">
            </div>
            
            

        </div>
    </div>