<div #whyus class="page-view texture-background">
    <div class="container-fluid">


        <div class="row " style="text-align: center;" >
            <div class="col-12">
                <h1 class=""><span style=" font-weight: bold;">Average</span>  
                    <span style="font-family:lato!important; font-weight: 0; "> 82 %</span> COD delivery success rate <br> <br> 
                    </h1>
                
            </div>
 
            
            

        </div>
    </div>