<div #whyus class="page-view texture-background">
    <div class="container-fluid">
        <div class="row bg-white" style="text-align: center;" >
            <div class="col-12">
                <h1 style="font-family: 'Poppins', sans-serif; font-weight: bold;">The Right End to End<br>Ecommerce <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;"> Logistics & Delivery</span></h1>
                <div class="row lg:mt-24 mt-16 lg:mb-16 mb-8 px-3 lg:px-0">
                    <div data-aos='zoom-in' class="col-3 flex flex-col items-center">
                        <i class="fas fa-truck lg:text-6xl text-2xl mb-5 truck-color"></i>
                        <p class="lg:text-lg text-base">99.99% Shipping Covergae</p>
                    </div>
                    <div data-aos='zoom-in' data-aos-delay='100' class="col-3 flex flex-col items-center">
                        <i class="fas fa-dollar-sign lg:text-6xl text-2xl mb-5 dollar-color"></i>
                        <p class="lg:text-lg text-base">40% Reduction in Costs</p>
                    </div>
                    <div data-aos='zoom-in' data-aos-delay='200' class="col-3 flex flex-col items-center">
                        <i class="fab fa-intercom lg:text-6xl text-2xl mb-5 intercom-color"></i>
                        <p class="lg:text-lg text-base">24/7 Customer Service</p>
                    </div>
                    <div data-aos='zoom-in' data-aos-delay='300' class="col-3 flex flex-col items-center">
                        <i class="fas fa-shipping-fast lg:text-6xl text-2xl mb-5 ship-color"></i>
                        <p class="lg:text-lg text-base">2-day Domestic Shipping</p>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row " style="text-align: center;" >
            <div class="col-12">
                <h1 style="margin-top: 2%;">  
                    <span style="font-family:'Verveine Regular'!important; font-weight: bold; color: black;">Average 82 %  COD delivery success rate</span> 
                </h1>
            </div>
        </div>
    </div>