<div #whyus class="page-view texture-background">
    <div class="container-fluid">

        <div>

        </div>

        <h1 class="text-center" style="font-weight: bold;">What You <span style="font-family: 'Verveine Regular',sans-serif!important; font-weight: 0 !important; color: black; ">
            Get</span></h1>
        <div class="row flex justify-around">

            <div data-aos='zoom-in' class="col-sm-5">
                <h3 style="  text-align: center; font-weight: bold; font-family:  'Poppins', sans-serif!important;">No Shipping Delays</h3>
                <h3 class="text-justify" style="  text-align: center; font-family:  'Poppins', sans-serif!important; font-size: 1em;">Efficient product distribution and a delivery network optimized for
                    ground transportation means no delays with your shipments, at no extra cost. We’d say that’s
                    important. </h3>
            </div>

            <div data-aos='zoom-in' data-aos-delay='100' class="col-sm-5">
                
                <h3 style="  text-align: center; font-weight: bold; font-family:  'Poppins', sans-serif!important;">No Minimums, No Contracts</h3>
                <h3 class="text-justify" style="font-family:  'Poppins', sans-serif!important; font-size: 1em;">You can start today, you don’t need to sign up for longterm contracts
                    or pay minimum fees. </h3> 
                    <!-- Simply pay a fixed rate for </h3> -->
                <!-- <div class="col-12"
                    style=" font-size: 1em; font-family:  raleway!important; align-content: left; padding-left: 6%; margin-top: 1%;">
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> Storage & Inventory
                        Management.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> Picking.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> Packing.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> Delivery.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> RTO.</p>

                </div> -->
            </div>

        </div>
        <!-- <div class="row ">
            <div class="col-7">
                <h3 style="  text-align: left; font-weight: bold; font-family:  'Poppins', sans-serif!important;">No Shipping Delays</h3>
                <h3 style="  text-align: left; font-family:  'Poppins', sans-serif!important; font-size: 1em;">Efficient product distribution and a delivery network optimized for
                    ground transportation means no delays with your shipments, at no extra cost. We’d say that’s
                    important. </h3>
            </div>
        </div> -->

        <div data-aos='zoom-in' data-aos-delay='200' class="row flex justify-around">
            <div class="col-sm-5">
                <h3 style="  text-align: center; font-weight: bold; font-family:  'Poppins', sans-serif!important;">Real Humans, Real Help</h3>
                <h3 class="text-justify" style="  text-align: center; font-family:  'Poppins', sans-serif!important; font-size: 1em;">We partner with every customer to ensure your shipping reflects the
                    awesomeness of your brand. </h3>
            </div>

            <div data-aos='zoom-in' data-aos-delay='300' class="col-sm-5">
                <h3 style="  text-align: center; font-weight: bold; font-family:  'Poppins', sans-serif!important;">Your Dashboard, Tools & Reports</h3>
                <h3 class="text-justify" style="  text-align: center; font-family:  'Poppins', sans-serif!important; font-size: 1em;">Access your dashboard, connect your sales channels, let us know what
                    you’re shipping to us and access reports that let you know every order shipped.</h3>
            </div>

        </div>

        <!-- <div class="row ">
            <div class="col-sm-6">
                <h3 style="  text-align: left; font-weight: bold; font-family:  'Poppins', sans-serif!important;">Your Dashboard, Tools & Reports</h3>
                <h3 style="  text-align: left; font-family:  'Poppins', sans-serif!important; font-size: 1em;">Access your dashboard, connect your sales channels, let us know what
                    you’re shipping to us and access reports that let you know every order shipped.</h3>
            </div>
        </div> -->
        <div data-aos='zoom-in' data-aos-delay='00' class="row ">
            <div class="col-sm-5 mx-auto mb-6">
                <h3 style="  text-align: center; font-weight: bold; font-family:  'Poppins', sans-serif!important;">A Committed Partner Invested In Your Business</h3>
                <h3 class="text-justify" style="  text-align: center; font-family:  'Poppins', sans-serif!important; font-size: 1em;">Simply put, your success is our success. We’ve built our brand on honesty, hard work and a sincere belief that by working together we can do great things. It’s good business.</h3>
            </div>
        </div>

    </div>