<div #whyus class="page-view texture-background">
    <div class="container-fluid">

        <div>

        </div>

        <div class="row ">
            <div class="col-7">
                <h1 class="">What You Get
                </h1>
                <h3 style="  text-align: left; font-weight: bold;">No Minimums, No Contracts</h3>
                <h3 style="  text-align: left; ">You can start today, you don’t need to sign up for longterm contracts
                    or pay minimum fees. Simply pay a fixed rate for </h3>
                <div class="col-12"
                    style=" font-size: 1em; font-family:  raleway!important; align-content: left; padding-left: 6%; margin-top: 1%;">
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> Storage & Inventory
                        Management.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> Picking.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> Packing.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> Delivery.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;"
                            src="/assets/images/check-tick-icon-14166.png" alt="image" /> RTO.</p>

                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-7">
                <h3 style="  text-align: left; font-weight: bold; ">No Shipping Delays</h3>
                <h3 style="  text-align: left; ">Efficient product distribution and a delivery network optimized for
                    ground transportation means no delays with your shipments, at no extra cost. We’d say that’s
                    important. </h3>
            </div>
        </div>

        <div class="row ">
            <div class="col-7">
                <h3 style="  text-align: left; font-weight: bold; ">Real Humans, Real Help</h3>
                <h3 style="  text-align: left; ">We partner with every customer to ensure your shipping reflects the
                    awesomeness of your brand. </h3>
            </div>
        </div>

        <div class="row ">
            <div class="col-7">
                <h3 style="  text-align: left; font-weight: bold; ">Your Dashboard, Tools & Reports</h3>
                <h3 style="  text-align: left; ">Access your dashboard, connect your sales channels, let us know what
                    you’re shipping to us and access reports that let you know every order shipped.</h3>
            </div>
        </div>
        <div class="row ">
            <div class="col-7">
                <h3 style="  text-align: left; font-weight: bold; ">A Committed Partner Invested In Your Business</h3>
                <h3 style="  text-align: left; ">Simply put, your success is our success. We’ve built our brand on honesty, hard work and a sincere belief that by working together we can do great things. It’s good business.</h3>
            </div>
        </div>

    </div>