<div #whyus class="page-view texture-background">
    <div class="container-fluid">

       
        <h1 style="font-family: 'Poppins', sans-serif; font-weight: bold;" class=""><span style=" font-weight: bold;">End To End Solution <br>for</span> 
            <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black"> Pick, Pack & Delivery</span>
            </h1>

        <div class="row lg:my-24 my-12" >
            <div class="col-sm-7">
                
                <div class="col-12 font-meidum" style=" font-size: 1em; font-family:  'Poppins', sans-serif!important; align-content: left; padding-left: 15%; margin-top: 1%;">
                    <div data-aos='fade-right' class="flex flex-row items-center mb-2">
                        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                        <p class="text-lg mb-0">No hassle of managing warehouse and inventory</p>
                    </div>
                    <div data-aos='fade-right' data-aos-delay='50' class="flex flex-row items-center mb-2">
                        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                        <p class="text-lg mb-0">No hassle of managing delivery, drivers</p>
                    </div>
                    <div data-aos='fade-right' data-aos-delay='100' class="flex flex-row items-center mb-2">
                        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                        <p class="text-lg mb-0">No Extra cost of hiring & Managing people</p>
                    </div>
                    <div data-aos='fade-right' data-aos-delay='150' class="flex flex-row items-center mb-2">
                        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                        <p class="text-lg mb-0">No Hassle of managing RTO</p>
                    </div>
                    <div data-aos='fade-right' data-aos-delay='200' class="flex flex-row items-center mb-2">
                        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                        <p class="text-lg mb-0">Reduction of <span class="spec">70%</span> of your logistic cost</p>
                    </div>
                    <div data-aos='fade-right' data-aos-delay='250' class="flex flex-row items-center mb-2">
                        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                        <p class="text-lg mb-0">Get free software to get insight of sales, stock forecast & more</p>
                    </div>
                    <div data-aos='fade-right' data-aos-delay='300' class="flex flex-row mb-2">
                        <i class="fas fa-check-circle text-green-400 text-2xl mr-2 mt-1"></i>
                        <p class="text-lg mb-0">With more than <span class="spec">43</span> Car & Bike Drivers We cover all of Qatar<br> (even remote areas)</p>
                    </div>
                    <div data-aos='fade-right' data-aos-delay='350' class="flex flex-row items-center mb-2">
                        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                        <p class="text-lg mb-0">COD collection option & on time Delivery</p>
                    </div>
                    <!-- <div class="flex flex-row items-center">
                        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                        <p class="text-lg mb-0">On time Delivery</p>
                    </div> -->
                    <!-- <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> No hassle of managing warehouse.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> No hassle of managing Inventory.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> No hassle of managing delivery, drivers.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> No Extra cost of hiring & Managing people.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> No Hassle of managing RTO.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Reduction of 70% of your logistic cost.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Get free software to get insight of sales, stock forecast & more.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> With more than 43 Car & Bike Drivers We cover all of Qatar (even remote areas)</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> COD collection option.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> On time Delivery.</p> -->
                </div>
            </div>
            <div class="col-sm-4">
                <img class=""  alt="delivery" src="/assets/images/delivery-concept.jpg" title="fulfillment Dubai">
            </div>
            
            

        </div>
    </div>