<mat-toolbar class="flex flex-row justify-between lg:px-10 px-2 mat-height" [ngClass]="colorTransparent == false ? 'nav-main mat-elevation-z6': 'nav-main'">
  <!-- <button mat-icon-button >
    <mat-icon>menu</mat-icon>
    </button>  -->
  <!-- <div class="col-sm-3" style=" font-family:lato!important; color: white;" *ngIf="colorTransparent" ><img style="width: 50%;height: 40%; padding-top: 2%;" src="/assets/images/image.png" alt="image"><span style="padding-left: 2% ;"></span></div> -->
    <div class="w-2/5 flex flex-row items-center" style=" font-family:lato!important; color: black;"  >
      <!-- <img style="width: 50%;height: 40%; padding-top: 2%; " src="/assets/images/main.png" alt="image"> -->
      <a href="/">
      <img class='lg:w-2/5 w-4/5 h-auto' src="/assets/images/qorier_updated_logo.png" alt="image">
      </a>
      <span class="hidden lg:block" style="font-family:'Verveine Regular'!important; font-weight: 0; color: black; font-size: 1.3em; ">Anything… Anywhere…Anytime</span>
  </div>
 
  <div class="w-1/2 flex items-center justify-end">
    <div class="flex flex-row items-center" [ngClass]="colorTransparent == false ? 'text-black font-medium': 'text-black font-medium'" style="font-family: 'Poppins', sans-serif;">
      <a class="a1 text-xl mr-10 cursor-pointer hidden lg:flex text-black no-underline" href="/">Home</a>
      <a class="a1 text-xl mr-10 cursor-pointer hidden lg:flex text-black no-underline" href="/#/services">Services</a>
      <a [ngClass]="colorTransparent == false ? 'border-black': 'border-black'" class="a1 a1_border text-xl mr-10 cursor-pointer border-2  rounded-xl px-2 py-1 hidden lg:flex text-black no-underline" href="#/about">About Us</a>
    </div>
    <mat-list-item>
      <button mat-menu-item [matMenuTriggerFor]="billsmenu"><span [ngClass]="colorTransparent == false ? 'material-icons sideDropDownBlack': 'material-icons sideDropDownBlack'" >
        view_headline
        </span></button>
    </mat-list-item>
    <mat-menu #billsmenu="matMenu" [overlapTrigger]="false">
      <div class="flex flex-col w-48 pl-6">
        <a class="a1 text-xl mr-10 cursor-pointer hover:no-underline lg:hidden" style="color: black;" href="/">Home</a>
        <a class="a1 text-xl mr-10 cursor-pointer hover:no-underline lg:hidden" style="color: black;" href="/#/services">Services</a>
        <a class="a1 text-xl mr-10 cursor-pointer hover:no-underline lg:hidden" style="color: black;" href="#/about">About Us</a>
        <a class="a1 text-xl mr-10 cursor-pointer hover:no-underline" style="color: black;" href="#whyus">Why Us</a>
        <a class="a1 text-xl mr-10 cursor-pointer hover:no-underline" style="color: black;" href='#features'>Features</a>
        <a class="a1 text-xl mr-10 cursor-pointer hover:no-underline" style="color: black;" href='#working'>Working</a>
      </div>
      <!-- <button style="outline: none;" mat-menu-item (click)="logout()">
      Logout
      </button> -->
    </mat-menu>
  </div>
  
</mat-toolbar>



<!-- <mat-sidenav-container class="main-sidenav-container main1"> -->
  <!-- <header class="topbar"> 
<app-authorised-top-nav></app-authorised-top-nav>
</header> -->

  <!-- <mat-sidenav class=" navbar-light" [mode]="mode" [opened]=true [fixedInViewport]="true" [fixedTopGap]="layoutGap">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active-list-item">
        <h2 matLine>Dashboard</h2>
        <mat-icon matListIcon>dashboard</mat-icon>
      </a>
      <a mat-list-item routerLink="yearly-coverage" routerLinkActive="active-list-item">
        <h2 matLine>Yearly Coverage </h2>
        <mat-icon matListIcon>assessment</mat-icon>
      </a>
      <a mat-list-item routerLink="organization" routerLinkActive="active-list-item" *ngIf="adminRole">
        <h2 matLine>Organization</h2>
        <mat-icon matListIcon>assessment</mat-icon>
      </a>
      <a  mat-list-item routerLink="user" routerLinkActive="active-list-item" *ngIf="userRole">
        <h2 matLine>User</h2>
        <mat-icon matListIcon>groups</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>






</mat-sidenav-container> -->
<div class="main main1">
  <app-page-content></app-page-content>
</div>
<a href="https://api.whatsapp.com/send?
         phone=7310747066
         &text=Hola%information%."
   		 class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
