<div  #whyus class="page-view texture-background">
    <div  class="container-fluid">

        <div  class="row lg:mt-24 mt-16 lg:px-48 px-3">
            <div data-aos='fade-right' class="col-sm-6">
                <h1 style="font-weight: bold;">Why Us 
                    <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black; ">?</span></h1>
            </div>
            <div class="col-sm-5">
                <p class='text-lg text-justify'>With over a decade delivery  experience in E commerce industry, we bring u the most 
                    practical yet cost effective End to End warehouse, pick & pack, Delivery management & Stock Management solution 
                    in Qatar. Over 8 warehouses in Qatar. We know the locations like back of our palm. <br>
                </p>
            </div>
        </div>
        
        <div style="font-family: 'Poppins', sans-serif;" class="row lg:px-32 px-3 lg:mt-16 mt-8">
            <div data-aos='zoom-in' class="col-sm-4 flex flex-col items-center">
                <img style="width: 70%;height: 125px;" src="/assets/images/warehouse_undraw.svg" alt="image"/>
                <span class="caption mt-4 text-lg">Stock in Warehouse</span>
                
            </div>
            <div data-aos='zoom-in' data-aos-delay='100' class="col-sm-4 flex flex-col items-center">
                <img style="width: 70%;height: 125px;" src="/assets/images/deliver_undraw.svg" alt="image"/>
                <span class="caption mt-4 text-lg">Pick and Pack</span>
            </div>
            <div data-aos='zoom-in' data-aos-delay='200' class="col-sm-4 flex flex-col items-center mb-8 lg:mb-0">
                <img style="width: 70%;height: 125px; " src="/assets/images/picknpack.svg" alt="image"/>
                <span class="caption mt-4 text-lg">Deliver across Qatar</span>
            </div>
            
        </div>
        <!-- <div class="row ">
            <div class="col-12">
                <h2 style="text-align: center;">With Over 8 warehouses spread across Qatar. We know the locations like back of our palm<br>

                </h2>
            </div>

        </div> -->

    </div>