
.page-view {
    &.texture-background {
      background: white !important;

    }
}

  h1{
    color: #ffa703!important;
    font-size: 3.5em;
    line-height: 1;
    margin-left: 20%;
    font-family: "Popins" sans-serif;

    @media screen and (max-width: 599px) {
      // margin-top: 2%;
      font-size: 2.5em;
      margin-left: 0%;
      text-align: center;
    }
  }



  @media screen and (min-width: 960px) {
  
	div.row1
  {
      display: block;
      text-align: center;
      margin-top: 3%;
      margin-right: 12%;
      margin-left: 20%;
      margin-bottom: 3%;
  
  }
  h2{
    margin-top: 3%; margin-left: 6%;  text-align: left;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:  raleway!important;
    font-size: 2em;
}
  }
  
@media screen and (max-width: 599px) {
       
	div.row1
  {
    display: block;
    text-align: center;
    margin-top: 150%;
    margin-right: 5%;
    margin-left: -100%;
    margin-bottom: -9%;
  }
h2{
    margin-top: 8%; margin-left: 6%;  text-align: left;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:  raleway!important;
    font-size: 2em;
}
  }




  
.container-fluid {
    padding: 10px 20px;
  }

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 50px;
}
img {
    
}
.caption {
    display: block;
    font-weight: 600;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
 }