<div  #whyus class="page-view texture-background">
    <div  class="container-fluid">

        <div  class="row ">
            <div class="col-12">
                <h1 style="font-weight: bold; font-size: 3.5em !important; ">Why Us</h1>
            </div>

        </div>
        <div class="row ">
            <div class="col-12">
                <h2 style="text-align: center;">With over a decade delivery experience in E commerce industry.<br> 
                    we bring you the most practical yet cost effective end to end<br>

                </h2>
            </div>

        </div>
        <div class="row ">
            <div class="col-4 item">
                <img style="width: 20%;height: 80%;" src="/assets/images/warehouse.png" alt="image"/>
                <span class="caption">Warehouse</span>
                
            </div>
            <div class="col-4 item">
                <img style="width: 20%;height: 80%;" src="/assets/images/delivery-truck.png" alt="image"/>
                <span class="caption">Pick,  Pack, Deliver </span>
            </div>
            <div class="col-4 item">
                <img style="width: 20%;height: 70%; " src="/assets/images/inventory-management.png" alt="image"/>
                <span class="caption">Stock Management</span>
            </div>

        </div>
        <div class="row ">
            <div class="col-12">
                <h2 style="text-align: center;">With Over 8 warehouses spread across Qatar. We know the locations like back of our palm<br>

                </h2>
            </div>

        </div>

    </div>