<div fxFlex="">
    <div class="">
        <div #aboutus class="page-view texture-background lg:pt-16 pt-10">
            <div class="w-full flex justify-center items-center lg:h-64 h-48 bg-about">
                <h1 style="font-weight: bold; color: white !important; z-index: 100 !important;">SERVICES</h1>

            </div>
            <div class="container-fluid">
        
                <div class="row mt-10" >
                    <div class="col-sm-6 flex flex-col items-center">
                        <div class="w-4/5">
                            <!-- data-aos='fade-right' -->
                            <h1 style="font-weight: bold; ">
                                <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                    STATE-OF-THE-ART</span> WAREHOUSING <br>AND FULFILLMENT </h1>
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 3rem !important;">Warehouse services are at the heart of 
                            your eCommerce business. Ensure your products are stored properly and strategically with a warehousing and fulfillment provider 
                            that treats your products like their own. Receiving, or inbound shipping, is the process of checking-in and unloading your items 
                            when they arrive by container or tractor-trailer. This is a crucial, often-overlooked, warehouse service. Fast, accurate receiving 
                            can mean the difference in having products in stock on your website and ready to sell or unavailable, lost, or on backorder. 
                            Once your products have been logged into inventory and placed on the shelves, they are ready for the warehouse team to pick 
                            and pack them. </p> 
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 2rem !important;">
                            Whether your goods are coming from overseas or across the states, the Qorier inbound 
                            shipping team is ready and waiting to receive and log them as quickly and accurately as possible. 
                            You want your products in inventory and ready for picking and packing — and we do, too. That’s why we 
                            have accuracy guarantees — like our 2-day dock-to-stock guarantee — and reward our team members for swift, 
                            error-free receiving.
                            </p>

                        </div>
                    </div>
                    <div class="col-sm-6 flex items-center justify-center">
                        <img class="w-4/5"  alt="delivery" src="/assets/images/warehouse_undraw.svg" title="fulfillment Dubai">
                    </div>
                    
                </div>

                <div class="row mt-10 flex-column-reverse flex-lg-row" >

                    <div class="col-sm-6 flex items-center justify-center">
                        <img class="w-2/3"  alt="delivery" src="/assets/images/deliver_undraw.svg" title="fulfillment Dubai">
                    </div>

                    <div class="col-sm-6 flex flex-col items-center">
                        <div class="w-4/5">
                            <!-- data-aos='fade-right' -->
                            <h1 style="font-weight: bold; ">
                                <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                    PICKING</span> And <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                        PACKING</span></h1>
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 3rem !important;">When your customer places an order on your eCommerce website, the information goes directly to our software which we will integrate with ur website backend order management for free. A picker will find the items for the order, each in a designated space on the shelf. A packer will find the perfect-sized box and add infill around your products so they can ship safely. 
                            </p> 
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 2rem !important;">
                            Accurate picking and packing is the foundation of a successful eCommerce business. Qorier was founded by eCommerce entrepreneurs, so our company was built to provide the best fulfilment services in the industry. We pick and pack orders the same day we receive them, with a cutoff as late as 8:00 pm Qatar time. With our intelligent Stock management & Order pick up In-house software we have a near-perfect accuracy record.
                            </p>

                        </div>
                    </div>
                    
                </div>

                <div class="row mt-10" >
                    <div class="col-sm-6 flex flex-col items-center">
                        <div class="w-4/5">
                            <!-- data-aos='fade-right' -->
                            <h1 style="font-weight: bold; ">
                                ORDER <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                    FULFILLMENT</span> AND 
                                    <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                    SHIPPING</span>
                            </h1>
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 3rem !important;">The final stage of order fulfilment is shipping. After your order is packed and labelled, it moves to the shipping station. At specific times each day, Our drivers ( cars & Bike ) stop by the warehouse to pick up outbound shipments. We get it delivered quickly & Safely to your customers putting a smile on your customer’s face each time every time.
                             </p> 
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 2rem !important;">
                            COD is collected and transferred to your account every 7 days voila. Our smartQorier in-house software management RTO efficiently. Once the customer cancels an order or for any reason shipment is not delivered. We bring back your consignment and put it back in the warehouse. SmartQorier Software will update your inventory automatically. So it’s ready to sell again.
                            </p>

                        </div>
                    </div>
                    <div class="col-sm-6 flex items-center justify-center">
                        <img class="w-4/5"  alt="delivery" src="/assets/images/picknpack.svg" title="fulfillment Dubai">
                    </div>
                    
                </div>

                <div class="row mt-10 flex-column-reverse flex-lg-row" >

                    <div class="col-sm-6 flex items-center justify-center">
                        <img class="w-2/3"  alt="delivery" src="/assets/images/smart_inventory.svg" title="fulfillment Dubai">
                    </div>

                    <div class="col-sm-6 flex flex-col items-center">
                        <div class="w-4/5">
                            <!-- data-aos='fade-right' -->
                            <h1 style="font-weight: bold; ">
                                Smart Inventory 
                                <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                    Planning</span> And <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                        Optimization</span></h1>
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 3rem !important;">Inventory planning is one of the biggest challenges an e-commerce business faces. Red Stag Fulfilment provides inventory planning assistance and flexible inventory management for all our clients. 
                            </p> 
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 2rem !important;">
                            Miscalculating demand forecasting in inventory management can leave you short during a busy sales period. However, holding too much stock, particularly slow-moving inventory, ties up capital and makes it harder to respond. With our inventory planning services, we'll help you figure it out.
                            </p>

                        </div>
                    </div>
                    
                </div>

                <div class="row mt-10" >
                    <div class="col-sm-6 flex flex-col items-center">
                        <div class="w-4/5">
                            <!-- data-aos='fade-right' -->
                            <h1 style="font-weight: bold; ">
                                Why is <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                    Inventory Planning</span> important? 
                            </h1>
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 3rem !important;">Inventory planning allows you to learn more about your customers and products, better matching sales with the inventory you keep on hand. It's a smart tool for delivering a consistent eCommerce ROI because it helps you control multiple costs. Planning and forecasts minimize the chances that you run out of stock and lose customers. You'll also discover opportunities to lower inventory volumes for slow-moving inventory. Reducing excess inventory frees up your cash and optimizes revenue for products by reducing their storage costs.
                             </p> 
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 2rem !important;">
                            Qorier can help you analyze sales as part of inventory planning.  We will help you give smart data which will assist you to forecast stock, give accurate data for future purchase.

                        </div>
                    </div>
                    <div class="col-sm-6 flex items-center justify-center">
                        <img class="w-3/5"  alt="delivery" src="/assets/images/inventory_planning.svg" title="fulfillment Dubai">
                    </div>
                    
                </div>

                <div class="row mt-10 flex-column-reverse flex-lg-row" >

                    <div class="col-sm-6 flex items-center justify-center">
                        <img class="w-2/3"  alt="delivery" src="/assets/images/wallet.svg" title="fulfillment Dubai">
                    </div>

                    <div class="col-sm-6 flex flex-col items-center">
                        <div class="w-4/5">
                            <!-- data-aos='fade-right' -->
                            <h1 style="font-weight: bold; ">
                                How can
                                <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                    Inventory Planning</span> save your <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                        Business Money?</span></h1>
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 3rem !important;">Inventory planning helps your business control a variety of expenses including the management and reduction of slow-moving inventory. These are the products that haven’t sold in a while and in addition whose storage costs might be eating into your revenue. 
                            </p> 
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 2rem !important;">
                            In the eCommerce world, slow-moving can be something that doesn’t get ordered in a matter of weeks or across months. What’s important for your business is understanding when these SKUs start costing you more for storage than they generate in sales and overall order value. Qorier  Smart software you will be able to get reports which will show u the products which are not selling and more.
                            </p>

                        </div>
                    </div>
                    
                </div>

                <div class="row mt-10" >
                    <div class="col-sm-6 flex flex-col items-center">
                        <div class="w-4/5">
                            <!-- data-aos='fade-right' -->
                            <h1 style="font-weight: bold; ">
                                Do you have <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                    Too Much Capital</span> tied up in <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">
                                        Inventory?</span>
                            </h1>
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 3rem !important;">One of the chief benefits of inventory planning and management is that companies can see how much capital is currently tied up in inventory, then determine if that’s the right amount. By looking at how quickly inventory turns over and your expenses related to storage, fulfillment, and shipping, your eCommerce business can identify areas of potential savings, freeing up more revenue to invest in business growth.
                             </p> 
                            <p class='text-justify' 
                            style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 2rem !important;">
                            We help eCommerce companies review their stock to see how quickly it sells and optimize levels based on how often you reorder goods. Inventory planning may help you identify a better schedule, too, so that you get the best rates on inbound shipping and optimize the shelf space you use.

                        </div>
                    </div>
                    <div class="col-sm-6 flex items-center justify-center">
                        <img class="w-4/5"  alt="delivery" src="/assets/images/capital.svg" title="fulfillment Dubai">
                    </div>
                    
                </div>

                <!-- <div class="col-sm-12">
                    <h3 class='pl-12' style="font-weight: bold; font-family:  'Poppins', sans-serif!important;">WHY IS INVENTORY PLANNING IMPORTANT?</h3>
                    <h3 class="pl-12 text-justify" style="font-family:  'Poppins', sans-serif!important; font-size: 1em;">Inventory planning allows you to learn more about your customers and products, better matching sales with the inventory you keep on hand. It's a smart tool for delivering a consistent eCommerce ROI because it helps you control multiple costs. Planning and forecasts minimize the chances that you run out of stock and lose customers. You'll also discover opportunities to lower inventory volumes for slow-moving inventory. Reducing excess inventory frees up your cash and optimizes revenue for products by reducing their storage costs. Qorier can help you analyze sales as part of inventory planning.  We will help you give smart data which will assist you to forecast stock, give accurate data for future purchase. 
                    </h3>
                </div> -->

                <!-- <div class="col-sm-12">
                    <h3 class='pl-12' style="font-weight: bold; font-family:  'Poppins', sans-serif!important;">HOW CAN INVENTORY PLANNING SAVE YOUR BUSINESS MONEY?</h3>
                    <h3 class="pl-12 text-justify" style="font-family:  'Poppins', sans-serif!important; font-size: 1em;">Inventory planning helps your business control a variety of expenses including the management and reduction of slow-moving inventory. These are the products that haven’t sold in a while and in addition whose storage costs might be eating into your revenue.  
                    </h3>
                    <h3 class="pl-12 text-justify" style="font-family:  'Poppins', sans-serif!important; font-size: 1em;">In the eCommerce world, slow-moving can be something that doesn’t get ordered in a matter of weeks or across months. What’s important for your business is understanding when these SKUs start costing you more for storage than they generate in sales and overall order value. Qorier  Smart software you will be able to get reports which will show u the products which are not selling and more.   
                    </h3>
                </div> -->

                <!-- <div class="col-sm-12">
                    <h3 class='pl-12' style="font-weight: bold; font-family:  'Poppins', sans-serif!important;">DO YOU HAVE TOO MUCH CAPITAL TIED UP IN INVENTORY?</h3>
                    <h3 class="pl-12 text-justify" style="font-family:  'Poppins', sans-serif!important; font-size: 1em;">One of the chief benefits of inventory planning and management is that companies can see how much capital is currently tied up in inventory, then determine if that’s the right amount. By looking at how quickly inventory turns over and your expenses related to storage, fulfillment, and shipping, your eCommerce business can identify areas of potential savings, freeing up more revenue to invest in business growth.  
                    </h3>
                    <h3 class="pl-12 text-justify" style="font-family:  'Poppins', sans-serif!important; font-size: 1em;">In the eCommerce world, slow-moving can be something that doesn’t get ordered in a matter of weeks or across months. What’s important for your business is understanding when these SKUs start costing you more for storage than they generate in sales and overall order value. Qorier  Smart software you will be able to get reports which will show u the products which are not selling and more.We help eCommerce companies review their stock to see how quickly it sells and optimize levels based on how often you reorder goods. Inventory planning may help you identify a better schedule, too, so that you get the best rates on inbound shipping and optimize the shelf space you use.   
                    </h3>
                </div> -->

                <div class="w-full px-3 mt-12 flex flex-col items-center">
                    <p class="text-lg text-center">No more <span class="spec">money</span> stuck in old non-selling stock. Just have a call with our <span class="spec">expert</span> and see a difference.
                    </p>
                    <a class="px-4 py-2 bg-orange text-white text-xl rounded-2xl no-underline mt-3" href='/'>Talk to Us</a>
                </div>
            </div>


    <app-footer id="footer"></app-footer>


    <!-- data-aos='fade-right' -->
    <!-- <div class="flex flex-row items-center mb-2 mt-4 pl-24">
        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
        <p class="text-lg mb-0">No hassle of managing warehouse and inventory</p>
    </div> -->
    <!-- data-aos='fade-right' data-aos-delay='20' -->
    <!-- <div class="flex flex-row items-center mb-2 pl-24">
        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
        <p class="text-lg mb-0">No hassle of managing delivery, drivers</p>
    </div> -->
    <!-- data-aos='fade-right' data-aos-delay='40' -->
    <!-- <div class="flex flex-row items-center mb-2 pl-24">
        <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
        <p class="text-lg mb-0">No Extra cost of hiring & Managing people</p>
    </div> -->