.label-size{
    font-size: 1rem !important;
    width: 100%;
  }

  .customform{
    padding-right: 3%;
    padding-left: 1.2%;
  }

  .inputField{
    width: 80%;
  }

  .button {
    float: right; 
    width: calc(105vh - 550px);
  }
  @media screen and (min-width: 1000px) {
   .button {
    float: right; 
    width: calc(105vh - 750px);
  }
  }
  @media screen and (min-width: 1500px) {
    .button {
     float: right; 
     width: calc(105vh - 945px);
   }
   }
    
    @media screen and (max-width: 599px) {
      .button {
        float: right; 
        width: calc(105vh - 700px);
      }
    }