<div fxFlex="">
    <div class="">
        <div #aboutus class="page-view texture-background lg:pt-16 pt-10">
            <div class="w-full flex justify-center items-center lg:h-64 h-48 bg-about">
                <h1 style="font-weight: bold; color: white !important; z-index: 100 !important;">ABOUT US</h1>

            </div>
            <div class="container-fluid">
        
                <div class="row mt-10" >
                    <div class="col-sm-7">
                        <!-- data-aos='fade-right' -->
                        <h1 style="font-weight: bold; " class="pl-24">We're empowering <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">businesses</span> <br>to fullfill more <span style="font-family:'Verveine Regular'!important; font-weight: 0; color: black;">efficiently</span></h1>
                        <p class='pl-24 lg:w-4/5 w-full text-justify text-lg' 
                        style="text-align: left; font-family: 'Popins' sans-serif; margin-top: 3rem !important;">Over a decade 
                        experience in E-commerce industry, we know exactly the challenges faced by lot of Ecommerce companies. 
                        With our experience we have developed a perfect solution which works in real world. Right it starts from 
                        <span class='spec'>Storage</span> to <span class="spec">Pick & Pack</span> to <span class="spec">Delivery</span>. 
                        Managing <span class="spec">RTO</span>, <span class="spec">COD</span> we do it all. With our <span class="spec">
                        SmartQORIER</span> inhouse software 
                        we will give u reports which will help to make right decisions for ur business. Few highlights are as below;
                        </p>
                        <!-- data-aos='fade-right' -->
                        <div class="flex flex-row items-center mb-2 mt-4 pl-24">
                            <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                            <p class="text-lg mb-0">No hassle of managing warehouse and inventory</p>
                        </div>
                        <!-- data-aos='fade-right' data-aos-delay='20' -->
                        <div class="flex flex-row items-center mb-2 pl-24">
                            <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                            <p class="text-lg mb-0">No hassle of managing delivery, drivers</p>
                        </div>
                        <!-- data-aos='fade-right' data-aos-delay='40' -->
                        <div class="flex flex-row items-center mb-4 pl-24">
                            <i class="fas fa-check-circle text-green-400 text-2xl mr-2"></i>
                            <p class="text-lg mb-0">No Extra cost of hiring & Managing people</p>
                        </div>
                    </div>
                    <div class="col-sm-5 flex justify-center items-center">
                        <img class=""  alt="delivery" src="/assets/images/delivery-concept.jpg" title="fulfillment Dubai">
                    </div>
                    
                </div>

                <!-- data-aos='zoom-in' -->
                <div class="row col-sm-6 flex flex-col items-center mt-12 mx-auto">
                    <p class="text-lg text-center">We have over 8 warehouses in <span class="spec">Qatar</span> and we know the locations like back of our palm . This will help increase the efficiency of <span class="spec">delivery</span> & <span class="spec">time</span>.
                    </p>
                    <a class="px-4 py-2 bg-orange text-white text-xl rounded-2xl no-underline mt-3" href='/'>Talk to Us</a>
                </div>
            </div>


    <app-footer id="footer"></app-footer>