<div #whyus class="page-view texture-background">
    <div class="container-fluid">

       
       

        <div class="row " style="padding-bottom: 0% !important;" >
            <h1 style="text-align: left; font-weight: bold; padding-bottom: 2%;">OUR ORDER FULFILLMENT TECHNOLOGY IS BUILT FOR ACCURACY
                <br>
            </h1>
            <div class="col-6">
                
                <h3 style="  text-align: left; ">Fulfillment is much more than the physical handling of your products. At QORIER, we are as much a technology company as a fulfillment warehouse. We created a dashboard for our clients that incorporates lean manufacturing and supply chain best practices. The result is a system with lower error rates — which saves you money and hassles. Features include:</h3>
            </div>
            <div class="col-6">
                
                <div class="col-12" style=" padding-bottom: 0%; font-size: 1em; font-family:  raleway!important; align-content: left; padding-left: 6%; margin-top: 1%;">
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Error-proof systems and processes mean no more mis-packed orders</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Inventory and order tracking give you transparency at every step of the process.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Unique barcodes for each product, and order reduce pick and pack errors to almost zero.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Integration with video monitoring system allows us to pinpoint errors and constantly improve our processes.</p>
                    <p class="text-setting"><img style="width: 1.5%;height: 1.5%;" src="/assets/images/check-tick-icon-14166.png" alt="image"/> Continuous monitoring and refinement means we keep getting more efficient and reducing your fulfillment costs.</p>
                </div>
            </div>

            
            

        </div>
    </div>