
.page-view {
    &.texture-background {

    }
}



  @media screen and (min-width: 960px) {
    h1{
        margin-top: 2%; margin-left: 5%;  text-align: left;
        color: #ffa703!important;
        font-size: 3em;
    }
	div.row1
  {
      display: block;
      text-align: center;
      margin-top: 3%;
      margin-right: 12%;
      margin-left: 20%;
      margin-bottom: 3%;
  
  }
  h2{
    margin-top: 3%; margin-left: 6%;  text-align: left;
    color: #ffa703!important;

    font-family:  raleway!important;
    font-size: 2em;
}
h3{
    margin-top: 3%; margin-left: 6%;  text-align: left;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:  raleway!important;
    font-size: 1.4em;
}
  }
  
@media screen and (max-width: 599px) {
       
	div.row1
  {
    display: block;
    text-align: center;
    margin-top: 150%;
    margin-right: 5%;
    margin-left: -100%;
    margin-bottom: -9%;
  }
  h1{
    margin-top: 8%; margin-left: 38%;   margin-right: -150%; 
    background: -webkit-linear-gradient( #ffe139 , #fdb540);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em !important;;
    height
    : 100%;
}
h2{
    margin-top: 8%; margin-left: 6%;  text-align: left;
    color: #ffa703!important;
    font-family:  raleway!important;
    font-size: 2em;
}

h3{
    margin-top: 8%; margin-left: 6%;  text-align: left;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:  raleway!important;
    font-size: 1em;
}

  }




  
.container-fluid {
    padding: 10px;
  }

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 50px;
}
img {
    
}
.caption {
    display: block;
    font-weight: 600;
}

.inline-icon {
    vertical-align: bottom;
    font-size: 18px !important;
 }

 .text-setting{
    font-size: 1.4em;
    color: black;
    font-weight: 200;
    text-align: left;
}
.delivery{
    padding-right: 10%;
}