<div  #working class="page-view texture-background">
    <div class="container-fluid">

        <div  class="row ">
            <div class="col-12">
                <h1 style="font-weight: bold; ">How Our System <br> <span 
                    style="font-family:'Verveine Regular'!important; font-weight: 0; color: black; ">Works</span></h1>
            </div>
        </div>
        <div class="row ">
            <div  class="col-sm-6 flex flex-col justify-center items-center" >
                <div class="lg:w-3/5 w-4/5">
                    <h2 class="p-center" style="font-family:'Verveine Regular'!important; font-weight: 0;">Just Send Your shipments to Qatar</h2>
                    <p class="lg:text-xl text-base text-justify" style="font-family: 'Poppins', sans-serif; text-align: left;">Once your shipments are recived. Products are saftly stored in our warehouses</p>
                </div>
            </div>
            <div  class="col-sm-6 flex justify-center" >
                <img  class="w-4/5 h-auto"  alt="delivery" src="/assets/images/store_workers.jpg" title="fulfillment Dubai">
            </div>
        </div>

        <div class="row flex-column-reverse flex-lg-row">
            <div  class="col-sm-6 flex justify-center" >
                <img  class="w-3/5 h-auto"  alt="delivery" src="/assets/images/picknpack_bg.jpg" title="fulfillment Dubai">
            </div>
            <div  class="col-sm-6 flex flex-col justify-center items-center" >
                <div class="lg:w-3/5 w-4/5">
                    <h2 class="p-center" style="text-align: left; font-family:'Verveine Regular'!important; font-weight: 0;">We Pick & Pack</h2>
                    <p class="lg:text-xl text-base text-justify" style="font-family: 'Poppins', sans-serif; text-align: left;">According to your AWB we will Pick & Pack orders.</p>
                </div>
            </div>
        </div>
        
        <div class="row ">
            <div  class="col-sm-6 flex flex-col justify-center items-center" >
                <div class="lg:w-3/5 w-4/5">
                    <h2 class="p-center" style="text-align: left; font-family:'Verveine Regular'!important; font-weight: 0;">RTO</h2>
                    <p class="lg:text-xl text-base text-justify" style="font-family: 'Poppins', sans-serif; text-align: left;">We manage your RTO so you don’t have to worry about products or increase cost of managing RTO’s.</p>
                </div>
            </div>
            <div  class="col-sm-6 flex justify-center" >
                <img  class="w-2/3 h-auto"  alt="delivery" src="/assets/images/rto_bg.jpg" title="fulfillment Dubai">
            </div>
        </div>

        <div class="row flex-column-reverse flex-lg-row">
            <div  class="col-sm-6 flex justify-center" >
                <img  class="w-4/5 h-auto"  alt="delivery" src="/assets/images/storehouse.jpg" title="fulfillment Dubai">
            </div>
            <div  class="col-sm-6 flex flex-col justify-center items-center" >
                <div class="lg:w-3/5 w-4/5">
                    <h2 class="p-center" style="text-align: left; font-family:'Verveine Regular'!important; font-weight: 0;">Stock & Inventory Management</h2>
                    <p class="lg:text-xl text-base" style="font-family: 'Poppins', sans-serif; text-align: left; margin-bottom: 0px !important;">Real time Stock visibility & Reports</p>
                    <p class="lg:text-xl text-base" style="font-family: 'Poppins', sans-serif; text-align: left; margin-bottom: 0px !important;">Minimum Viable Stock report </p>
                    <p class="lg:text-xl text-base" style="font-family: 'Poppins', sans-serif; text-align: left; margin-bottom: 0px !important;">Real time Alert for high selling low stock </p>
                    <p class="lg:text-xl text-base" style="font-family: 'Poppins', sans-serif; text-align: left; margin-bottom: 0px !important;">Stock value monthly report</p>
                    <p class="lg:text-xl text-base" style="font-family: 'Poppins', sans-serif; text-align: left; margin-bottom: 0px !important;">Deadlock & Access stock report monthly</p>
                </div>
            </div>
        </div>

        <div class="row ">
            <div  class="col-sm-6 flex flex-col justify-center items-center" >
                <div class="lg:w-3/5 w-4/5">
                    <h2 class='p-center' style="text-align: left; font-family:'Verveine Regular'!important; font-weight: 0;">Reduce cost Of warehouse & Delivery by 70%</h2>
                    <p class="lg:text-xl text-base text-justify" style="font-family: 'Poppins', sans-serif; text-align: left;">Talk to our experts who can help you to get the tailored solution. Trust us when we say COST will be reduced and QUALITY will be improved </p>
                </div>
            </div>
            <div  class="col-sm-6 flex justify-center" >
                <img  class="w-3/5 h-auto"  alt="delivery" src="/assets/images/cut_prices.jpg" title="fulfillment Dubai">
            </div>
        </div>

        </div>

       
    </div>