<div  #whyus class="page-view texture-background">
    <div  class="container-fluid">

        <div  class="row ">
            <div class="col-12">
                <h1 style="font-weight: bold; font-size: 3.5em !important; ">How Our System Works</h1>
            </div>

        </div>
        <div class="row " style="padding-top: 2%;">
            <div class="col-6" >
                <h2 style="text-align: left;">Just Send Your <span style="font-family:lato!important; font-weight: 0; "> shipments</span> to Qatar
                    <br>
                </h2>
                <h2 style="  text-align: left; ">once your shipments are recived. <span style="font-family:lato!important; font-weight: 0; "> products</span> are saftly stored in our warehouses</h2>
            </div>
            <div class="col-6" >
                <img  class="delivery"  alt="delivery" src="/assets/images/sending.png" title="fulfillment Dubai">
            </div>

        </div>

        <div class="row " style="padding-top: 2%;">
            <div class="col-6" >
                <h2 style="text-align: left;">We Pick & Pack
                    <br>
                </h2>
                <h2 style="  text-align: left; ">According to your AWB we will <span style="font-family:lato!important; font-weight: 0; "> Pick & Pack</span> orders.</h2>
            </div>
            <div class="col-6" >
                <img  class="delivery"  alt="delivery" src="/assets/images/packing.png" title="fulfillment Dubai">
            </div>

        </div>

        <div class="row " style="padding-top: 2%;">
            <div class="col-6" >
                <img  class="delivery2"  alt="delivery" src="/assets/images/rto.png" title="fulfillment Dubai">
            </div>
            <div class="col-6" >
                <h2 style="text-align: left;">RTO
                    <br>
                </h2>
                <h2 style="  text-align: left; ">We manage your RTO so you don’t have to worry about products or increase cost of managing RTO’s.</h2>
            </div>
           

        </div>


            

        </div>

       
    </div>